.week-day-names {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.day-name {
  font-weight: 700;
  flex-grow: 0;
  flex-basis: 14.28571%;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.day-name:nth-child(7n+1) {
  border-left: 1px solid #ddd;
}

.day-name:nth-child(-n+7) {
  border-top: 1px solid #ddd;
}
