h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-body {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.hero-section, .landing-section {
  height: 300px;
}

.hero-section {
  padding-top: 50px;
}

.landing-section {
  background-color: #000;
  color: #fff;
}

.landing-section:nth-of-type(3) {
  background-color: #fff;
  color: #000;
}

.landing-button {
  padding-top: 50px;
  padding-bottom: 50px;
}
