h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing-body {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.hero-section, .landing-section {
  height: 250px;
}

.hero-section {
  padding-top: 50px;
}

.landing-section {
  background-color: #ddd;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.landing-button {
  padding-top: 50px;
  padding-bottom: 50px;
}
