/* Styling for landing page and home page*/
footer {
  padding: 1%;
  background: #191716;
  color: #f6f4f3;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Styling for /home page only */
.home-footer-class {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  display: block;
}
